/*******************************************/
/* link to kuler.adobe color scheme        */
/* http://adobe.ly/1yec8Qt                 */
/*                                         */
/* sticky footer docs                      */
/* http://ryanfait.com/html5-sticky-footer */
/*******************************************/
/* * {
	margin: 0;
} */

html, body {
	height: 100%;
	width: 1060px;
	margin: auto;
	background-color: #C2A57B;
	font-family: sans-serif;
}

#wrapper {
	min-height: 100%;
	/* there is a bug here - losing 10px in height somewhere */
	margin: 0 auto -60px;
}

header {
	padding: 10px;
	background-color: #707678;
	text-align: center;
}
header h1 {
	font-size: 48px;
	/* background-color: blue; */
} 
header h4 {
	margin-top: -25px;
	/* background-color: yellow; */
}

aside {
	float: right;
	width: 280px;
	/* background-color: grey; */
	margin: 0;
}
aside h4 {
	margin: 10px 0 2px 0;
}
aside dl {
	margin: 10px 10px;
}
aside dt {
	font-weight: bold;
}
aside dd {
	margin-left: 10px;
}
aside table {
	margin: auto;
}
aside table td {
	text-align: center;
	font-weight: bold;
	font-size: 90%;
}
/*
aside table img {
	text-align: center;
}
*/

article {
	width: 780px;
	margin: 0px;
	padding: 10px;
	/* background-color: green; */
}
article h4 {
	margin-left: 20px;
}
article #articlepic {
	float: right;
	margin-right: 30px;
}
article ul {
	margin: 10px 0;
	/* background-color: yellow; */
}
article li {
	margin-left: -10px;
}
article p {
	margin: 10px;
}
article dl {
	margin-left: 20px;
}
article dt {
	font-weight: bold;
	float: left;
	margin-right: 10px;
}

footer, #push {
	height: 50px;
	margin-bottom: 0;
	/* background-color: blue; */
	clear: both;
}
footer hr {
	margin-bottom: -5px;
	margin-top: 25px;
}
footer .pRight {
	float: right;
	clear: both;
	text-align: right;
	margin-right: 10px;
	/* background-color: cornflowerblue; */
}
footer .pLeft {
	float: left;
	text-align: left;
	margin-left: 10px;
	/* background-color: pink; */
}
