/*******************************************/
/* link to kuler.adobe color scheme        */
/* http://adobe.ly/1yec8Qt                 */
/*                                         */
/* not white      - #D7DFF2                */
/* dark brown     - #96825D                */
/* light brown    - #C2A57B                */
/* grey           - #707678                */
/* not black      - #0C0D0F                */
/*                                         */
/* sticky footer docs                      */
/* http://ryanfait.com/html5-sticky-footer */
/*******************************************/
/* * {
	margin: 0;
} */

html, body {
	height: 100%;
	width: 1060px;
	margin: auto;
	background-color: #C2A57B;
	font-family: sans-serif;
}

#wrapper {
	min-height: 100%;
	/* there is a bug here somewhere */
	/* firefox loses 27px */
	/* chrome and IE lose 25px */
	/* so we add 27 to the 50 */
	/* for the push */
	margin: 0 auto -77px;
	/* background-color: purple; */
}

header {
	padding: .75em 0;
	background-color: #707678;
	text-align: center;
}
header h1 {
	font-size: 4em;
	/* background-color: violet; */
} 
header h4 {
	margin-top: -2em; /* bring it closer to the main header */
	/* background-color: yellow; */
}

aside {
	float: right;
	width: 280px;
	margin: 0 2em 0 0;
	/* background-color: grey; */
}
aside dl {
	margin: 10px 10px;
}
aside dt {
	font-weight: bold;
}
aside dd {
	margin-left: 10px;
}
aside td {
	font-size: 90%;
	font-weight: bold;
	text-align: center;
}

article {
	width: 780px;
	/* background-color: green; */
	margin: 0 0 0 2em;
	padding: 0 0 2em 0;
}
article #articlepic {
	float: right;
}
article dt {
	font-weight: bold;
	float: left;
}

footer, #push {
	height: 50px;
	margin-bottom: 0;
	clear: both;
	/* background-color: blue; */
}
footer hr {
	margin: 0;
}
footer .pRight {
	float: right;
	clear: both;
	text-align: right;
	margin-right: 1em;
	/* background-color: cornflowerblue; */
}
footer .pLeft {
	float: left;
	text-align: left;
	margin-left: 1em;
	/* background-color: pink; */
}

.unstyledlist {
	list-style-type: none;
}

/* center image on the rotel documentation page */
/* page is 1060, image is 792: fuck centering images*/
.logoCenter {
	display: block;
	margin-left: 134px;
}

/*
 *
 *
 *
 *
 *
 * begin css relative to IMED2351
 *
 *
 *
 *
 *
 *
 *
 *
 */

/* navigation menu */
nav {
	z-index: 30; /* place the nav bar in front of the base page */
	background-color: #707678;
	/* background-color: orange; */
	margin: 0 0 2em 0;
}
nav ul {
	list-style: outside none none;
	text-align: center;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	background-color: #707678;
	width: 15em;
}

nav li a {
	display: block;
	background-color: #707678;
	text-decoration: none;
	width: 15em;
	color: black;
	border: 1px solid black;
	margin: 1px;
}

nav li a:hover {
	background-color: #C2A57B;
}

nav div a {
	position: relative;
	display: block;
}

.navMenu {
	visibility: hidden;
	position: absolute;
}

/* hide show menus */
.hideList {
	display: none;
}

.hideListHeader {
}

/* form input validation */
.formErrorText {
	font-style: italic;
	color: red;
	margin: 0 0 0 1em;
}

form {
	overflow: hidden;
}

.formLabel {
	display: inline-block;
	width: 10em;
}

.formTextA {
	margin: .25em 0 0; /* align top is really high compared the first line of text...push it back down a bit */
	vertical-align: top;
}

.formInput {
	float: right;
	margin: 1em 17em 0;
}

.formSelect {
	width: 10em;
}

.formTableCb {
	width: 5em;
}

#petNameInput { /* default for the list is no display */
	display: none;
}

.thinInput {
	width: 3em;
}
